<ion-header  id="header-line">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Tyangled - 2021</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card id="card-position">
  <ion-list>
    <br>
    <ion-item>
      <ion-label position="floating"> full Name</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-label position="floating">Wedding Code</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

  </ion-list>
  <br>
  <ion-button fill="solid" color="dark" expand="block"(click)="Verify()"> Verify You</ion-button>
</ion-card>
  
 
</ion-content>
